.chat-view-container {
  flex: 1;
  background-color: #f4f8ff;
  padding: 25px;
  overflow: auto;
  max-height: 650px;
  .message-container {
    .message {
      margin: 10px 0px;
      background-color: white;
      padding: 10px 20px;
      border-radius: 25px 25px 25px 0px;
      width: fit-content;
    }
  }

  .my-message-container {
    text-align: -webkit-right;

    .my-message {
      margin: 10px 0px;
      background-color: #01aaf3;
      color: white;
      padding: 10px 20px;
      border-radius: 25px 25px 0px 25px;
      width: fit-content;
    }
  }
}
